html, body {
	height: 100%;
}
div.outer_wrapper {
	max-width: 1024px;
	margin: auto;
	border-left: 1px solid #f06543;
	border-right: 1px solid #f06543;
}
body {
	background-color: #e0dfd5;
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
div.header, ul.top_menu, div.side_menu, div.footer,
		div.content > h1, div.content > h2 {
	font-family: 'Abel', sans-serif;
}
div.header {
	background-color: #f06543;
	color: white;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 200%;
}
ul.top_menu, ul.top_menu > li {
	display: inline-block;
}
ul.top_menu {
	background-color: #f09d51;
	font-size: 110%;
	height: 30px;
	width: 100%;
	line-height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.top_menu > li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 25%;
}
ul.top_menu > li > a {
	display: block;
	text-decoration: none;
	color: inherit;
}
ul.top_menu > li:hover {
	color: white;
	background-color: #f06543;
}
div.side_menu {
	width: 20%;
	padding: 0;
	padding-top: 10px;
	box-sizing: border-box;
}
div.side_menu > div.entry {
	font-size: 120%;
	text-align: center;
	margin: 16px;
}
div.side_menu > div.entry img {
	width: 100%;
}
div.wrapper {
	overflow: auto;
	height: calc(100% - 30px);
}
div.content {
	float: right;
	width: 80%;
	padding: 0 2% 0 2%;
	box-sizing: border-box;
}
div.content > img.big_img {
	width: 100%;
}
div.content > div.buffer {
	height: 30px;
}
div.content > h1 {
	border-bottom: 1px dotted black;
	text-align: center;
}
div.footer {
	background-color: #f09d51;
	font-size: 110%;
	height: 30px;
	line-height: 30px;
	padding-left: 1%;
	clear: left;
}
@media (max-width: 1024px) {
	div.outer_wrapper {
		border: none;
	}
}
@media (max-width: 750px) {
	div.header {
		font-size: 150%;
	}
	ul.top_menu {
		font-size: 90%;
	}
	div.side_menu {
		width: 50%;
		margin: auto;
	}
	div.content {
		float: none;
		width: 100%;
	}
	div.footer {
		font-size: 90%;
	}
}
@media (max-width: 550px) {
	div.header {
		font-size: 120%;
	}
	ul.top_menu {
		height: auto;
	}
	ul.top_menu > li {
		width: 100%;
		float: none;
	}
	ul.top_menu {
		font-size: 100%;
	}
	div.footer {
		font-size: 100%;
	}
}
div.thumbs {
	height: 240px;
	text-align: center;
}
div.wrawra {
	display: inline-block;
	height: 100%;
	width: 90%;
	margin: auto;
}
img.small_image {
	margin: 1%;
	margin-top: 0;
	margin-bottom: 0;
	max-height: 100%;
	width: 30%;
	cursor: pointer;
}
img.small_image:hover {
	box-shadow: 0 0 5px 2px #f09d51;
}
input.thumb_control {
	background-color: #f09d51;
	border: none;
	height: 100%;
	cursor: pointer;
}
input.thumb_control:hover {
	background-color: #f06543;
}
input.thumb_control.left {
	//margin-right: 4px;
	width: 4%;
	float: left;
}
input.thumb_control.right {;
	//margin-left: 4px;
	width: 4%;
	float: right;
}
div.splash {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0.7;
	background-color: black;
}
.splashed {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: black;
	color: white;
	z-index: 20;
	position: fixed;
	display: none;
}
.splashed.big_image {
	cursor: auto;
	top: 25%;
	left: 25%;
	width: 50%;
	max-height: 70%;
}
.splashed.close {
	background-color: rgba(0, 0, 0, 0.6);
	width: 20%;
	height: 10%;
	top: 15%;
	left: 40%;
}
.splashed.left, .splashed.right {
	background-color: rgba(0, 0, 0, 0.4);
}
.splashed.close:hover {
	background-color: rgba(0, 0, 0, 1);
}
.splashed.left {
	width: 15%;
	height: 10%;
	top: 15%;
	left: 25%;
}
.splashed.left:hover, .splashed.right:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.splashed.right {
	width: 15%;
	height: 10%;
	top: 15%;
	left: 60%;
}